/*
 *Name: Olivia McNamara
 *UnityID: ommcnama
 *Date: 8 Nov 2025
 *Assignment: Lab 4
 *Description: Github Webpages Lab
 */
 
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #5011b4;
}

.table-border {
    border: 1px solid #5011b4;
}

#photo-resize {
    max-width: 250px;
    max-height: 300px;
}
